.icon-48-regions {
      background-image: url(../images/l_regions.png);
      padding-left:60px!important;
}

.icon-48-region {
      background-image: url(../images/l_regions.png);
      padding-left:60px!important;
}

.color-box-regions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-provinces {
      background-image: url(../images/l_provinces.png);
      padding-left:60px!important;
}

.icon-48-province {
      background-image: url(../images/l_provinces.png);
      padding-left:60px!important;
}

.color-box-provinces { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-districts {
      background-image: url(../images/l_districts.png);
      padding-left:60px!important;
}

.icon-48-district {
      background-image: url(../images/l_districts.png);
      padding-left:60px!important;
}

.color-box-districts { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-sub_districts {
      background-image: url(../images/l_sub_districts.png);
      padding-left:60px!important;
}

.icon-48-sub_district {
      background-image: url(../images/l_sub_districts.png);
      padding-left:60px!important;
}

.color-box-sub_districts { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coops {
      background-image: url(../images/l_coops.png);
      padding-left:60px!important;
}

.icon-48-coop {
      background-image: url(../images/l_coops.png);
      padding-left:60px!important;
}

.color-box-coops { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coop_gmp_certifys {
      background-image: url(../images/l_coop_gmp_certifys.png);
      padding-left:60px!important;
}

.icon-48-coop_gmp_certify {
      background-image: url(../images/l_coop_gmp_certifys.png);
      padding-left:60px!important;
}

.color-box-coop_gmp_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coop_send_milk_companys {
      background-image: url(../images/l_coop_send_milk_companys.png);
      padding-left:60px!important;
}

.icon-48-coop_send_milk_company {
      background-image: url(../images/l_coop_send_milk_companys.png);
      padding-left:60px!important;
}

.color-box-coop_send_milk_companys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-mous {
      background-image: url(../images/l_mous.png);
      padding-left:60px!important;
}

.icon-48-mou {
      background-image: url(../images/l_mous.png);
      padding-left:60px!important;
}

.color-box-mous { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cow_projects {
      background-image: url(../images/l_cow_projects.png);
      padding-left:60px!important;
}

.icon-48-cow_project {
      background-image: url(../images/l_cow_projects.png);
      padding-left:60px!important;
}

.color-box-cow_projects { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_conditions {
      background-image: url(../images/l_farm_conditions.png);
      padding-left:60px!important;
}

.icon-48-farm_condition {
      background-image: url(../images/l_farm_conditions.png);
      padding-left:60px!important;
}

.color-box-farm_conditions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-performance_improvement_projects {
      background-image: url(../images/l_performance_improvement_projects.png);
      padding-left:60px!important;
}

.icon-48-performance_improvement_project {
      background-image: url(../images/l_performance_improvement_projects.png);
      padding-left:60px!important;
}

.color-box-performance_improvement_projects { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-milking_systems {
      background-image: url(../images/l_milking_systems.png);
      padding-left:60px!important;
}

.icon-48-milking_system {
      background-image: url(../images/l_milking_systems.png);
      padding-left:60px!important;
}

.color-box-milking_systems { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farms {
      background-image: url(../images/l_farms.png);
      padding-left:60px!important;
}

.icon-48-farm {
      background-image: url(../images/l_farms.png);
      padding-left:60px!important;
}

.color-box-farms { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-gap_certifys {
      background-image: url(../images/l_gap_certifys.png);
      padding-left:60px!important;
}

.icon-48-gap_certify {
      background-image: url(../images/l_gap_certifys.png);
      padding-left:60px!important;
}

.color-box-gap_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_grade_certifys {
      background-image: url(../images/l_farm_grade_certifys.png);
      padding-left:60px!important;
}

.icon-48-farm_grade_certify {
      background-image: url(../images/l_farm_grade_certifys.png);
      padding-left:60px!important;
}

.color-box-farm_grade_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_grade_announcements {
      background-image: url(../images/l_farm_grade_announcements.png);
      padding-left:60px!important;
}

.icon-48-farm_grade_announcement {
      background-image: url(../images/l_farm_grade_announcements.png);
      padding-left:60px!important;
}

.color-box-farm_grade_announcements { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farmers {
      background-image: url(../images/l_farmers.png);
      padding-left:60px!important;
}

.icon-48-farmer {
      background-image: url(../images/l_farmers.png);
      padding-left:60px!important;
}

.color-box-farmers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-training_programs {
      background-image: url(../images/l_training_programs.png);
      padding-left:60px!important;
}

.icon-48-training_program {
      background-image: url(../images/l_training_programs.png);
      padding-left:60px!important;
}

.color-box-training_programs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farmer_trainings {
      background-image: url(../images/l_farmer_trainings.png);
      padding-left:60px!important;
}

.icon-48-farmer_training {
      background-image: url(../images/l_farmer_trainings.png);
      padding-left:60px!important;
}

.color-box-farmer_trainings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_scores {
      background-image: url(../images/l_farm_scores.png);
      padding-left:60px!important;
}

.icon-48-farm_score {
      background-image: url(../images/l_farm_scores.png);
      padding-left:60px!important;
}

.color-box-farm_scores { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cows {
      background-image: url(../images/l_cows.png);
      padding-left:60px!important;
}

.icon-48-cow {
      background-image: url(../images/l_cows.png);
      padding-left:60px!important;
}

.color-box-cows { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cow_statuses {
      background-image: url(../images/l_cow_statuses.png);
      padding-left:60px!important;
}

.icon-48-cow_status {
      background-image: url(../images/l_cow_statuses.png);
      padding-left:60px!important;
}

.color-box-cow_statuses { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-move_outs {
      background-image: url(../images/l_move_outs.png);
      padding-left:60px!important;
}

.icon-48-move_out {
      background-image: url(../images/l_move_outs.png);
      padding-left:60px!important;
}

.color-box-move_outs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-breedings {
      background-image: url(../images/l_breedings.png);
      padding-left:60px!important;
}

.icon-48-breeding {
      background-image: url(../images/l_breedings.png);
      padding-left:60px!important;
}

.color-box-breedings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}