.icon-48-inseminations {
      background-image: url(../images/l_inseminations.png);
      padding-left:60px!important;
}

.icon-48-insemination {
      background-image: url(../images/l_inseminations.png);
      padding-left:60px!important;
}

.color-box-inseminations { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-receive_milk_quantities {
      background-image: url(../images/l_receive_milk_quantities.png);
      padding-left:60px!important;
}

.icon-48-receive_milk_quantity {
      background-image: url(../images/l_receive_milk_quantities.png);
      padding-left:60px!important;
}

.color-box-receive_milk_quantities { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-receive_milk_quantity_cows {
      background-image: url(../images/l_receive_milk_quantity_cows.png);
      padding-left:60px!important;
}

.icon-48-receive_milk_quantity_cow {
      background-image: url(../images/l_receive_milk_quantity_cows.png);
      padding-left:60px!important;
}

.color-box-receive_milk_quantity_cows { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-send_milk_quantities {
      background-image: url(../images/l_send_milk_quantities.png);
      padding-left:60px!important;
}

.icon-48-send_milk_quantity {
      background-image: url(../images/l_send_milk_quantities.png);
      padding-left:60px!important;
}

.color-box-send_milk_quantities { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cow_statistics {
      background-image: url(../images/l_cow_statistics.png);
      padding-left:60px!important;
}

.icon-48-cow_statistic {
      background-image: url(../images/l_cow_statistics.png);
      padding-left:60px!important;
}

.color-box-cow_statistics { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-birth_inspections {
      background-image: url(../images/l_birth_inspections.png);
      padding-left:60px!important;
}

.icon-48-birth_inspection {
      background-image: url(../images/l_birth_inspections.png);
      padding-left:60px!important;
}

.color-box-birth_inspections { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-pregnant_inspections {
      background-image: url(../images/l_pregnant_inspections.png);
      padding-left:60px!important;
}

.icon-48-pregnant_inspection {
      background-image: url(../images/l_pregnant_inspections.png);
      padding-left:60px!important;
}

.color-box-pregnant_inspections { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-medicines {
      background-image: url(../images/l_medicines.png);
      padding-left:60px!important;
}

.icon-48-medicine {
      background-image: url(../images/l_medicines.png);
      padding-left:60px!important;
}

.color-box-medicines { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-healths {
      background-image: url(../images/l_healths.png);
      padding-left:60px!important;
}

.icon-48-health {
      background-image: url(../images/l_healths.png);
      padding-left:60px!important;
}

.color-box-healths { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-health_services {
      background-image: url(../images/l_health_services.png);
      padding-left:60px!important;
}

.icon-48-health_service {
      background-image: url(../images/l_health_services.png);
      padding-left:60px!important;
}

.color-box-health_services { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-health_sub_services {
      background-image: url(../images/l_health_sub_services.png);
      padding-left:60px!important;
}

.icon-48-health_sub_service {
      background-image: url(../images/l_health_sub_services.png);
      padding-left:60px!important;
}

.color-box-health_sub_services { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-heal_results {
      background-image: url(../images/l_heal_results.png);
      padding-left:60px!important;
}

.icon-48-heal_result {
      background-image: url(../images/l_heal_results.png);
      padding-left:60px!important;
}

.color-box-heal_results { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-stop_milkings {
      background-image: url(../images/l_stop_milkings.png);
      padding-left:60px!important;
}

.icon-48-stop_milking {
      background-image: url(../images/l_stop_milkings.png);
      padding-left:60px!important;
}

.color-box-stop_milkings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-regions {
      background-image: url(../images/l_regions.png);
      padding-left:60px!important;
}

.icon-48-region {
      background-image: url(../images/l_regions.png);
      padding-left:60px!important;
}

.color-box-regions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-provinces {
      background-image: url(../images/l_provinces.png);
      padding-left:60px!important;
}

.icon-48-province {
      background-image: url(../images/l_provinces.png);
      padding-left:60px!important;
}

.color-box-provinces { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-districts {
      background-image: url(../images/l_districts.png);
      padding-left:60px!important;
}

.icon-48-district {
      background-image: url(../images/l_districts.png);
      padding-left:60px!important;
}

.color-box-districts { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-sub_districts {
      background-image: url(../images/l_sub_districts.png);
      padding-left:60px!important;
}

.icon-48-sub_district {
      background-image: url(../images/l_sub_districts.png);
      padding-left:60px!important;
}

.color-box-sub_districts { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coops {
      background-image: url(../images/l_coops.png);
      padding-left:60px!important;
}

.icon-48-coop {
      background-image: url(../images/l_coops.png);
      padding-left:60px!important;
}

.color-box-coops { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coop_gmp_certifys {
      background-image: url(../images/l_coop_gmp_certifys.png);
      padding-left:60px!important;
}

.icon-48-coop_gmp_certify {
      background-image: url(../images/l_coop_gmp_certifys.png);
      padding-left:60px!important;
}

.color-box-coop_gmp_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-coop_send_milk_companys {
      background-image: url(../images/l_coop_send_milk_companys.png);
      padding-left:60px!important;
}

.icon-48-coop_send_milk_company {
      background-image: url(../images/l_coop_send_milk_companys.png);
      padding-left:60px!important;
}

.color-box-coop_send_milk_companys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-mous {
      background-image: url(../images/l_mous.png);
      padding-left:60px!important;
}

.icon-48-mou {
      background-image: url(../images/l_mous.png);
      padding-left:60px!important;
}

.color-box-mous { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cow_projects {
      background-image: url(../images/l_cow_projects.png);
      padding-left:60px!important;
}

.icon-48-cow_project {
      background-image: url(../images/l_cow_projects.png);
      padding-left:60px!important;
}

.color-box-cow_projects { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_conditions {
      background-image: url(../images/l_farm_conditions.png);
      padding-left:60px!important;
}

.icon-48-farm_condition {
      background-image: url(../images/l_farm_conditions.png);
      padding-left:60px!important;
}

.color-box-farm_conditions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-performance_improvement_projects {
      background-image: url(../images/l_performance_improvement_projects.png);
      padding-left:60px!important;
}

.icon-48-performance_improvement_project {
      background-image: url(../images/l_performance_improvement_projects.png);
      padding-left:60px!important;
}

.color-box-performance_improvement_projects { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-milking_systems {
      background-image: url(../images/l_milking_systems.png);
      padding-left:60px!important;
}

.icon-48-milking_system {
      background-image: url(../images/l_milking_systems.png);
      padding-left:60px!important;
}

.color-box-milking_systems { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farms {
      background-image: url(../images/l_farms.png);
      padding-left:60px!important;
}

.icon-48-farm {
      background-image: url(../images/l_farms.png);
      padding-left:60px!important;
}

.color-box-farms { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-gap_certifys {
      background-image: url(../images/l_gap_certifys.png);
      padding-left:60px!important;
}

.icon-48-gap_certify {
      background-image: url(../images/l_gap_certifys.png);
      padding-left:60px!important;
}

.color-box-gap_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_grade_certifys {
      background-image: url(../images/l_farm_grade_certifys.png);
      padding-left:60px!important;
}

.icon-48-farm_grade_certify {
      background-image: url(../images/l_farm_grade_certifys.png);
      padding-left:60px!important;
}

.color-box-farm_grade_certifys { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_grade_announcements {
      background-image: url(../images/l_farm_grade_announcements.png);
      padding-left:60px!important;
}

.icon-48-farm_grade_announcement {
      background-image: url(../images/l_farm_grade_announcements.png);
      padding-left:60px!important;
}

.color-box-farm_grade_announcements { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farmers {
      background-image: url(../images/l_farmers.png);
      padding-left:60px!important;
}

.icon-48-farmer {
      background-image: url(../images/l_farmers.png);
      padding-left:60px!important;
}

.color-box-farmers { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-training_programs {
      background-image: url(../images/l_training_programs.png);
      padding-left:60px!important;
}

.icon-48-training_program {
      background-image: url(../images/l_training_programs.png);
      padding-left:60px!important;
}

.color-box-training_programs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farmer_trainings {
      background-image: url(../images/l_farmer_trainings.png);
      padding-left:60px!important;
}

.icon-48-farmer_training {
      background-image: url(../images/l_farmer_trainings.png);
      padding-left:60px!important;
}

.color-box-farmer_trainings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-farm_scores {
      background-image: url(../images/l_farm_scores.png);
      padding-left:60px!important;
}

.icon-48-farm_score {
      background-image: url(../images/l_farm_scores.png);
      padding-left:60px!important;
}

.color-box-farm_scores { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cows {
      background-image: url(../images/l_cows.png);
      padding-left:60px!important;
}

.icon-48-cow {
      background-image: url(../images/l_cows.png);
      padding-left:60px!important;
}

.color-box-cows { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-cow_statuses {
      background-image: url(../images/l_cow_statuses.png);
      padding-left:60px!important;
}

.icon-48-cow_status {
      background-image: url(../images/l_cow_statuses.png);
      padding-left:60px!important;
}

.color-box-cow_statuses { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-move_outs {
      background-image: url(../images/l_move_outs.png);
      padding-left:60px!important;
}

.icon-48-move_out {
      background-image: url(../images/l_move_outs.png);
      padding-left:60px!important;
}

.color-box-move_outs { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}

.icon-48-breedings {
      background-image: url(../images/l_breedings.png);
      padding-left:60px!important;
}

.icon-48-breeding {
      background-image: url(../images/l_breedings.png);
      padding-left:60px!important;
}

.color-box-breedings { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}

.sidebar-sub-1{
      display:none;
}
.sidebar-sub-2{
      display:none;
}
.sidebar-sub-3{
      display:none;
}
.sidebar-sub-4{
      display:none;
}
.sidebar-sub-5{
      display:none;
}
.sidebar-sub-6{
      display:none;
}
.sidebar-sub-7{
      display:none;
}
.sidebar-sub-8{
      display:none;
}
.sidebar-sub-9{
      display:none;
}
.sidebar-sub-10{
      display:none;
}
.in-sub{
      display:inline!important;
}